<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="nav container">
            <h2 class="nav_logo"><a href="#">Clinica XD</a></h2>
            <ul class="menu_items">
            <img src="images/times.svg" alt="timesicon" id="menu_toggle" />
            <li><a asp-area=""  asp-action="/Index">Inicio</a></li>
            <li><a asp-area=""  asp-action="/Doctores">Docotres</a></li>  
            <li><a href="#" class="nav_link">Procedimientos</a></li>
            <li><a href="#" class="nav_link">Especialidades</a></li>
            <li><a href="#" class="nav_link" >Contactanos</a></li>
            </ul>
            <img src="images/bars.svg" alt="timesicon" id="menu_toggle" />
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - frontend - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
